@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: hsl(231, 69%, 60%);
  --grey-50: hsl(0, 0%, 97%);
  --grey-500: hsla(0, 1%, 26%, 0.699);
  --red-400: hsl(0, 94%, 66%);
  --blue-900: hsl(231, 32%, 21%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  min-height: 100dvh;
}

p {
  text-wrap: pretty;
  color: var(--grey-500);
}
.container {
  padding: 0 1.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1rem;
}
.nav-items {
  display: none;
}
.hero {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  color: hsl(231, 32%, 21%);
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.hero-content p {
  font-size: 1rem;
  padding: 0 1rem;
  line-height: 1.5;
  color: var(--grey-500);
}

.cta {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
.cta a,
.extension a,
.btn {
  text-decoration: none;
  color: var(--grey-50);
  background-color: var(--primary-color);
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 1rem;
}
.cta a:last-child {
  background-color: var(--grey-50);
  color: hsla(0, 0%, 0%, 0.662);
  /* border: 1px solid var(--primary-color); */
}
.features {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  display: none;
}

.feature-header,
.questions {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  color: hsl(231, 32%, 21%);
}

.feature p,
.feature-header p,
.extension p,
.questions p {
  font-size: 1rem;
  padding: 0 1rem;
  line-height: 1.5;
  color: var(--grey-500);
}
.feature.active {
  display: block;
}
.feature-icon {
  margin-bottom: 5rem;
}
.features-tabs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.features-tabs .tab {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 1.25rem 2rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.25rem;
  border-top: 1px solid hsla(0, 2%, 12%, 0.16);
  border-bottom: 1px solid hsla(0, 2%, 12%, 0.16);
  color: hsla(0, 0%, 0%, 0.662);
}

.features-tabs .tab.active {
  color: #000;
}
.features-tabs .tab.active::after {
  content: "";
  display: block;
  width: 37%;
  height: 4px;
  background-color: var(--red-400);
  position: absolute;
  bottom: -0.1rem;
}
.extension {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.extension .card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  outline: 1px solid hsla(0, 2%, 12%, 0.16);
  border-radius: 10px;
}
.card-dots {
  margin-block: 1.5rem;
}
.questions {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question h3 {
  font-size: 1rem;
}
.question-item {
  cursor: pointer;
}

.question-item h3 {
  text-align: left;
}
.question p {
  display: none;
}
.question p.active {
  display: block;
}
.question-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid hsla(0, 2%, 12%, 0.16);
}
.questions-list {
  margin-block: 2rem;
}
.email {
  background-color: var(--primary-color);
  width: 100vw;
  margin-left: calc(50% - 50vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 6rem;
}
.email h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 4rem;
  margin-bottom: -1rem;
  letter-spacing: 5px;
}
.email p {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  line-height: 1.5;
  text-align: center;
  font-weight: 500;
  color: white;
}
.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  padding-bottom: 5rem;
  width: 100%;
  margin-top: -2rem;
}
.email-form input {
  padding: 1rem;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
  color: var(--grey-500);
  /* max-width: 400px; */
  width: 100%;
}
.email-form button {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--red-400);
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 2px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--blue-900);
  width: 100vw;
  margin-left: calc(50% - 50vw);
  gap: 2rem;
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 1rem;
}
.footer .links a {
  text-decoration: none;
  color: var(--grey-50);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
